*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NAVIGATION SECTION ENDS */

.nav-body-design{
    background-color:#ffffff;
    border-bottom: thin solid rgba(0, 0, 0, 0.201);
    position: fixed;
}
.nav-design ul li a{
    color: #081F89;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.nav-design ul .last1 a{
    /* color: #76AFDD; */
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    margin-right: 10px;
}
.nav-design ul li .dropdown-design{
    width: 250px;
    height: 0px;
    position: absolute;
    display: none;
    border-top: medium solid #081B87;
    /* padding: 10px 15px; */
    top: 85px;
    left: 10px;
    background-color: #ffffff67;
    border-radius: 4px;
    box-shadow: 2px 3px 4px 3px rgba(128, 128, 128, 0.452);
}
.nav-design ul li .dropdown-design li a{
    color: black;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.nav-design ul li:hover > .dropdown-design{
    display: block;
    height: 170px;
}
.nav-design ul li .dropdown-design2{
    width: 300px;
    height: 0px;
    position: absolute;
    display: none;
    border-top: medium solid #081B87;
    /* padding: 10px 15px; */
    top: 85px;
    left: 10px;
    background-color: #ffffff67;
    border-radius: 4px;
    box-shadow: 2px 3px 4px 3px rgba(128, 128, 128, 0.452);
}
.nav-design ul li .dropdown-design2 li a{
    color: black;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.nav-design ul li:hover > .dropdown-design2{
    display: block;
    height: 200px;
}

.nav-design ul li .dropdown-design3{
    width: 250px;
    height: 0px;
    position: absolute;
    display: none;
    border-top: medium solid #081B87;
    /* padding: 10px 15px; */
    top: 85px;
    left: 10px;
    background-color: #ffffff67;
    border-radius: 4px;
    box-shadow: 2px 3px 4px 3px rgba(128, 128, 128, 0.452);
}
.nav-design ul li .dropdown-design3 li a{
    color: black;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.nav-design ul li:hover > .dropdown-design3{
    display: block;
    height: 230px;
}

.nav-design ul li .dropdown-design4{
    width: 200px;
    height: 0px;
    position: absolute;
    display: none;
    border-top: medium solid #081B87;
    /* padding: 10px 15px; */
    top: 85px;
    left: 10px;
    background-color: #ffffff6a;
    border-radius: 4px;
    box-shadow: 2px 3px 4px 3px rgba(128, 128, 128, 0.452);
}
.nav-design ul li .dropdown-design4 li a{
    color: black;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.nav-design ul li:hover > .dropdown-design4{
    display: block;
    height: 120px;
}
.nav-body-design .logo-design{
    margin-left: 10%;
}
.nav-body-design .nav-design{
    margin-left: 20%;
}

/* NAVIGATION SECTION ENDS */



/* SECOND SECTION START */

.second-section-container{
    height: 500px;
    /* margin-top: 5%; */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.84),rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.904)), url(../images/tuitiontop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.second-section-container h3{
    color: #ffffff;
    font-size: 56px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    margin-top: 20%;
    margin-right: 10%;
}

/* SECOND SECTION ENDS */


/* THIRD SECTION START */

.first-section-fixed-social-icon{
    width: 5%;
    height: 30%;
    /* border: medium solid red; */
    position: fixed;
    top:25% ;
    left: 0%;
    
    
}
.first-section-fixed-social-icon .first-section-fixed-social-icon1{
    width: 100%;
    height: 33%;
    /* border: medium solid blue; */
    background-color: #314A83;
    padding-left: 25%;
    border-top-right-radius: 7px;
}
.first-section-fixed-social-icon .first-section-fixed-social-icon1:hover{
    transform: skewX(150deg);
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.first-section-fixed-social-icon .first-section-fixed-social-icon2{
    width: 100%;
    height: 34%;
    /* border: medium solid blue; */
    background-color: #0092CC;
    padding-left: 25%;
}
.first-section-fixed-social-icon .first-section-fixed-social-icon2:hover{
    transform: skewX(150deg);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.first-section-fixed-social-icon .first-section-fixed-social-icon3{
    width: 100%;
    height: 33%;
    /* border: medium solid blue; */
    background-color: #0F699B;
    padding-left: 25%;
    border-bottom-right-radius: 7px;
}   
.first-section-fixed-social-icon .first-section-fixed-social-icon3:hover{
    transform: skewX(150deg);
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.first-section-container .first-section-fixed-social-icon-whatsapp{
    width: 10%;
    height: 10%;
    border: medium solid #25D366;
    margin-top: 10px;
    border-radius: 50%;
    padding-left: 1%;
    background-color: #25D366;
    position: fixed;
    top: 85%;
    left: 1%;
}
.first-section-container .first-section-fixed-up-icon{
    position: fixed;
    top: 85%;
    right: 1%;
}
.first-section-container .first-section-fixed-up-icon:hover{
    transform: translateY(-15%);
    background-color: #03263e;
    border-radius: 25px;
}
/* THIRD SECTION ENDS */


/* FOURTH SECTION START */

.fourth-section-container{
    background-color: #ffffff;
}
.fourth-section-container h4{
    color: #000442;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
}
.fourth-section-container img{
    width: 80%;
    margin: auto;
}

.accordion-button::after{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></svg>') !important;

    transition: all 0.5s !important;
}

.accordion-button:not(.collapsed)::after{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16"><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/></svg>') !important;
}

.fourth-section-container .wrapper{
    width: 95%;
    margin: auto;
}

.wrapper .wrapper-unit{
    margin-top: 4% !important;
    background-color: #fff;
}
.wrapper .wrapper-unit .accordion-header button{
    color: #333333;
    font-size: 16px;
    font-family: "poppins";
    background-color: #f4f4f4;
}
.wrapper .wrapper-unit .accordion-collapse .accordion-body{
    color: #666666;
    font-size: 14px;
    font-family: "poppins";
    background-color: #f4f4f4;
    text-align: justify;
}

.fourth-section-container-child2 .first-button{
    background-color: #0C71C3;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.fourth-section-container-child2 .first-button:hover{
    border: medium solid #2ea3f2;
    padding-top: 2%;
    padding-bottom: 2%;
}

.fourth-section-container-child2 .second-button{
    background-color: #000442;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.fourth-section-container-child2 .second-button:hover{
    border: medium solid #2ea3f2;
    background-color: #000442;
    padding-top: 2%;
    padding-bottom: 2%;
}
/* FOURTH SECTION ENDS */





/* FIFTH SECTION START */

.fifth-section-container{
    background-color: #000442;
}
.fifth-section-container h4{
    color: #ffffff;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 6%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.fifth-section-container img{
    width: 80%;
    margin: auto;
}

.accordion-button::after{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></svg>') !important;

    transition: all 0.5s !important;
}

.accordion-button:not(.collapsed)::after{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16"><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/></svg>') !important;
}

.fifth-section-container .wrapper{
    width: 90%;
    margin: auto;
}

.wrapper .wrapper-unit{
    margin-top: 4% !important;
    background-color: #fff;
}
.wrapper .wrapper-unit .accordion-header button{
    color: #333333;
    font-size: 16px;
    font-family: "poppins";
    background-color: #f4f4f4;
}
.wrapper .wrapper-unit .accordion-collapse .accordion-body{
    color: #666666;
    font-size: 14px;
    font-family: "poppins";
    background-color: #f4f4f4;
    text-align: justify;
}

.fifth-section-container-child2 .first-button{
    background-color: #000442;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: medium solid #ffffff;
    text-align: start;
    margin-bottom: 10%;
}
.fifth-section-container-child2 .first-button:hover{
    border: none;
    background-color: #000442;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* FIFTH SECTION ENDS */







/* SIXTH SECTION START */

.sixth-section-container{
    background-color: #ffffff;
}
.sixth-section-container h4{
    color: #000442;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
}
.sixth-section-container img{
    width: 80%;
    margin: auto;
}

.accordion-button::after{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></svg>') !important;

    transition: all 0.5s !important;
}

.accordion-button:not(.collapsed)::after{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16"><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/></svg>') !important;
}

.sixth-section-container .wrapper{
    width: 95%;
    margin: auto;
}

.wrapper .wrapper-unit{
    margin-top: 4% !important;
    background-color: #fff;
}
.wrapper .wrapper-unit .accordion-header button{
    color: #333333;
    font-size: 16px;
    font-family: "poppins";
    background-color: #f4f4f4;
}
.wrapper .wrapper-unit .accordion-collapse .accordion-body{
    color: #666666;
    font-size: 14px;
    font-family: "poppins";
    background-color: #f4f4f4;
    text-align: justify;
}

.sixth-section-container-child2 .first-button{
    background-color: #000442;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: medium solid #ffffff;
    text-align: start;
    margin-bottom: 10%;
}
.sixth-section-container-child2 .first-button:hover{
    border: none;
    background-color: #000442;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* SIXTH SECTION ENDS */





/* SEVENTH SECTION START */

.seventh-section-container{
    margin-top: 3%;
}
.seventh-section-container p{
    color: #666666;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    margin-bottom: 7%;
}

/* SEVENTH SECTION ENDS */




/* EIGHT SECTION  START */

.nineth-section-container{
    background-color: #F1F1F1;
}
.nineth-section-container .nineth-section-container-child{
    border: medium solid #F1F1F1;
    margin-top: 7%;
}
.nineth-section-container .nineth-section-container-child h3{
    font-size: 19px;
    color: #00208a;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.nineth-section-container .nineth-section-container-child h4{
    font-size: 15px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 2%;
    padding-bottom: 3%;
}
.nineth-section-container .nineth-section-container-child .nineth-section-container-child-icons a svg{
    margin-right: 4%;
    margin-bottom: 4%;
}
.nineth-section-container .nineth-section-container-child a{
    text-decoration: none;
    color: #2ea3f2;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.nineth-section-container .nineth-section-container-child p{
    font-size: 15px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}
.nineth-section-container .nineth-section-container-child ul li{
    color: #666666;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-align: justify;
    margin-top: 6%;
    margin-bottom: 6%;
}
.nineth-section-container .nineth-section-container-child h5{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    text-align: justify;
    padding-bottom: 10%;
}


/* EIGHT SECTION ENDS */





/* FOOTER SECTION START */

.footer-section-container{
    background-color: #050044;
}
.footer-section-container p{
    color: #ffffff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.7%;
}

/* FOOTER SECTION START */