@media(max-width:1024px){
    .first-section-fixed-social-icon{
        display: none;
    }
    .first-section-fixed-social-icon-whatsapp{
        display: none;
    }
    .first-section-container span{
        display: none;
    }
}

@media(max-width:981px){
    .first-section-container .first-wrap{
        display: flex;
        flex-wrap: wrap;
    }
    .first-division h1{
        margin-top: 8%;
    }
    .second-division h2{
        margin-top: 10%;
    }
}
@media(max-width:450px){
    .first-division h1{
        margin-top: 15%;
    }
}
@media(max-width:300px){
    .first-division h1{
        margin-top: 25%;
    }
}
